*{
	text-align:center;
}
body {
	font-family: century gothic;
	color: white;
	text-decoration: none;
	background-color: #AD33D6;
}
p {
	color: #FFFFFF;
}
/*Initialise*/
ul#menu, ul#menu ul.sub-menu {
    padding:0;
    margin: auto;
}
ul#menu li, ul#menu ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
}
/*Link Appearance*/
ul#menu li a, ul#menu li ul.sub-menu li a {
    text-decoration: none;
    color: #AD33D6;
    background: #FFFFFF;
    padding: 5px;
    display:inline-block;
}
/*Make the parent of sub-menu relative*/
ul#menu li {
    position: relative;
}
/*sub menu*/
ul#menu li ul.sub-menu {
    display:none;
    position: absolute;
    top: 30px;
    left: 0px;
    width: 100px;
}
ul#menu li:hover ul.sub-menu {
    display:block;
}
button {
    text-decoration: none;
    color: #AD33D6;
    background: #FFFFFF;
    padding: 5px;
	border: 0px;
}