*{
	text-align:center;
}
body {
	font-family: century gothic;
	color: white;
	text-decoration: none;
	background-color: #AD33D6;
}
p {
	color: #FFFFFF;
}
/*Initialise*/
ul#menu, ul#menu ul.sub-menu {
    padding:0;
    margin: auto;
}
ul#menu li, ul#menu ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
}
/*Link Appearance*/
ul#menu li a, ul#menu li ul.sub-menu li a {
    text-decoration: none;
    color: #AD33D6;
    background: #FFFFFF;
    padding: 5px;
    display:inline-block;
}
/*Make the parent of sub-menu relative*/
ul#menu li {
    position: relative;
}
/*sub menu*/
ul#menu li ul.sub-menu {
    display:none;
    position: absolute;
    top: 30px;
    left: 0px;
    width: 100px;
}
ul#menu li:hover ul.sub-menu {
    display:block;
}
button {
    text-decoration: none;
    color: #AD33D6;
    background: #FFFFFF;
    padding: 5px;
	border: 0px;
	border-radius: 5px;
}
span{
	color: #FF0000;
}
select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    background: #FFFFFF;
    color:#AD33D6;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label {position:relative}
label:after {
    content:'<>';
    font-family: century gothic;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'<>';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}
.piano{
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left:0px;
	margin-right: 0px;
	padding: 0px;
}